.jumbotron {
    background-size: cover;
    height: 500px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .formdd-control {
    width: 35% !important;
    margin-right: 3%;
    padding: 10px;
    border-radius: 6px;
  }

  .formdd-control::placeholder {
    color: rgb(66, 66, 66);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  }
  .formdd-inline {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-left: 34%;
  }
  .login {
    margin-top: 12%;
  }
  .loginIput{
    height: 55px;
    border: 2px solid #dddfe2;
    margin-top: 4%;
  }
.loginIput::placeholder{
 font-size: 17px;
 font-family: 'Poppins';
 color: #979797;
  }
 
  .loginbtn button {
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;

  }

  .loginbtn button:first-child {
    background-color: #028517;
    margin-top: 6%;

  }

  .loginbtn a:nth-child(2) {
    padding: 3%;
    background-color: #FF5C00;
    margin-top: 6%;
    margin-left: 23%;
  }


  .col-md-5 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 30%;
    max-width: 30%;
    margin: 0;
  }

.logo {
  margin-left: 17%;
  margin-right: 10%;
  margin-top: 3%;
 
}

.logo h1 {
color: #028517;
font-size: 339%;
font-family: bold;
}


body {
background-color: #f0f2f5;

}
.addouvragebtn {

  width: 60%;
  padding: 12px;
  max-width: 60%;
}


.signupInputs::placeholder {
  color: #817f7f;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}
.signupInputs{
  height: 45px;
  border: 2px solid #dddfe2;
}

.signupInputs:first-child {
color: #817f7f;
}

.signupbutton {
  width: 60%;
  padding: 12px;
  max-width: 60%;
  
}

.signupbutton a:nth-child(2) {
  /* padding: 2%; */
  background-color: #FF5C00;
  margin-top: 2%;
  margin-left: 13%;
  max-width: 74%;
  height: 45px;

}

.signupbutton button {
height: 45px;
}



  @media (max-width: 768px) {
    .jumbotron {
      height: 200px;
    }
    .container-fluid {
      display: block !important;

    }
    .col-md-5 {
      width: 435px !important;
      max-width: 435px !important;
      margin: 0 !important;
    }
    .logo {
      margin: 0 !important;
    }

  }